@import "tailwindcss";

@theme {
  --color-primary: #1A264A;
  --color-primary-foreground: #ffffff;

  --color-success: #28A745;
  --color-success-foreground: #ffffff;

  --color-warning: #FFC107;
  --color-warning-foreground: #000000;

  --color-error: #DC3545;
  --color-error-foreground: #ffffff;

  --color-neutral: #6C757D;
  --color-neutral-dark: #343A40;

  --color-background: #ffffff;
  --color-foreground: #1A264A;

  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}


html {
  font-family: var(--font-outfit), ui-sans-serif, system-ui;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #fff;
  color: #1A264A;
  font-family: var(--font-outfit), ui-sans-serif, system-ui;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit), ui-sans-serif, system-ui;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}